/Assets/Fonts/Patrick_Hand/PatrickHandRegularSDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Fonts/Amatic_SC/AmaticSCBoldSDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Environment/Houses/Houses filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Environment/Houses/HouseS01/House-S01.psb filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Environment/Exterious/Houses/HouseS01/House-S01.psb filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Environment/Exterious/Houses/House-S05.psb filter=lfs diff=lfs merge=lfs -text
SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/Noto_Sans/NotoSans-Regular filter=lfs diff=lfs merge=lfs -text
/Assets/Fonts/Noto_Sans/NotoSans-Regular_SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/SFX/wind.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/SFX/occassionalBirds.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/SFX/boat.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/Music/Forest_2.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/SFX/waves.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/Music/Village_1.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/UI/Journal/JournalMapUI.png filter=lfs diff=lfs merge=lfs -text
Assets/Audio/Music/High-Clover-COU024501.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/MainWorld.unity filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/Mags/MagsHandwriting-Regular_SDF.asset filter=lfs diff=lfs merge=lfs -text
